<li>
  <a href="#glyphicons">图标</a>
  <ul class="nav">
    <li><a href="#glyphicons-glyphs">Available glyphs</a></li>
    <li><a href="#glyphicons-how-to-use">怎样使用？</a></li>
    <li><a href="#glyphicons-examples">参考样例</a></li>
  </ul>
</li>
<li>
  <a href="#dropdowns">下拉菜单</a>
  <ul class="nav">
    <li><a href="#dropdowns-example">样例</a></li>
    <li><a href="#dropdowns-alignment">对齐选项</a></li>
    <li><a href="#dropdowns-headers">标题</a></li>
    <li><a href="#dropdowns-disabled">禁用的菜单项</a></li>
  </ul>
</li>
<li>
  <a href="#btn-groups">按钮组</a>
  <ul class="nav">
    <li><a href="#btn-groups-single">基本例子</a></li>
    <li><a href="#btn-groups-toolbar">按钮工具条</a></li>
    <li><a href="#btn-groups-sizing">大小</a></li>
    <li><a href="#btn-groups-nested">嵌套</a></li>
    <li><a href="#btn-groups-vertical">垂直变化</a></li>
    <li><a href="#btn-groups-justified">Justified link variation</a></li>
  </ul>
</li>
<li>
  <a href="#btn-dropdowns">按钮下拉菜单</a>
  <ul class="nav">
    <li><a href="#btn-dropdowns-single">单按钮下拉菜单</a></li>
    <li><a href="#btn-dropdowns-split">分离按钮下拉菜单</a></li>
    <li><a href="#btn-dropdowns-sizing">大小</a></li>
    <li><a href="#btn-dropdowns-dropup">上弹变化</a></li>
  </ul>
</li>
<li>
  <a href="#input-groups">输入组</a>
  <ul class="nav">
    <li><a href="#input-groups-basic">基本例子</a></li>
    <li><a href="#input-groups-sizing">大小</a></li>
    <li><a href="#input-groups-checkboxes-radios">Checkbox and radios addons</a></li>
    <li><a href="#input-groups-buttons">按钮插件</a></li>
    <li><a href="#input-groups-buttons-dropdowns">带下拉菜单的按钮</a></li>
    <li><a href="#input-groups-buttons-segmented">分段按钮</a></li>
  </ul>
</li>
<li>
  <a href="#nav">导航</a>
  <ul class="nav">
    <li><a href="#nav-tabs">Tabs</a></li>
    <li><a href="#nav-pills">胶囊导航</a></li>
    <li><a href="#nav-justified">Justified nav</a></li>
    <li><a href="#nav-disabled-links">禁用链接</a></li>
    <li><a href="#nav-dropdowns">用下拉菜单</a></li>
  </ul>
</li>
<li>
  <a href="#navbar">导航</a>
  <ul class="nav">
    <li><a href="#navbar-default">缺省导航</a></li>
    <li><a href="#navbar-forms">表单</a></li>
    <li><a href="#navbar-buttons">按钮</a></li>
    <li><a href="#navbar-text">Text</a></li>
    <li><a href="#navbar-links">Non-nav links</a></li>
    <li><a href="#navbar-component-alignment">部件对齐</a></li>
    <li><a href="#navbar-fixed-top">固定到顶部</a></li>
    <li><a href="#navbar-fixed-bottom">固定到底部</a></li>
    <li><a href="#navbar-static-top">顶部跟随</a></li>
    <li><a href="#navbar-inverted">垂直导航条</a></li>
  </ul>
</li>
<li><a href="#breadcrumbs">Breadcrumbs</a></li>
<li>
  <a href="#pagination">分页</a>
  <ul class="nav">
    <li><a href="#pagination-default">缺省分页</a></li>
    <li><a href="#pagination-pager">Pager</a></li>
  </ul>
</li>
<li><a href="#labels">标签</a></li>
<li><a href="#badges">标号</a></li>
<li><a href="#jumbotron">大屏幕特写</a></li>
<li><a href="#page-header">页头</a></li>
<li>
  <a href="#thumbnails">缩略图</a>
  <ul class="nav">
    <li><a href="#thumbnails-default">Default example</a></li>
    <li><a href="#thumbnails-custom-content">Custom content</a></li>
  </ul>
</li>
<li>
  <a href="#alerts">警告</a>
  <ul class="nav">
    <li><a href="#alerts-examples">参考样例</a></li>
    <li><a href="#alerts-dismissable">可关闭警告</a></li>
    <li><a href="#alerts-links">Links in alerts</a></li>
  </ul>
</li>
<li>
  <a href="#progress">进度条</a>
  <ul class="nav">
    <li><a href="#progress-basic">基本例子</a></li>
    <li><a href="#progress-alternatives">Contextual alternatives</a></li>
    <li><a href="#progress-striped">Striped</a></li>
    <li><a href="#progress-animated">Animated</a></li>
    <li><a href="#progress-stacked">Stacked</a></li>
  </ul>
</li>
<li>
  <a href="#media">媒体对象</a>
  <ul class="nav">
    <li><a href="#media-default">缺省媒体对象</a></li>
    <li><a href="#media-list">Media list</a></li>
  </ul>
</li>
<li>
  <a href="#list-group">List group</a>
  <ul class="nav">
    <li><a href="#list-group-basic">基本例子</a></li>
    <li><a href="#list-group-badges">标号</a></li>
    <li><a href="#list-group-linked">Linked items</a></li>
    <li><a href="#list-group-custom-content">Custom content</a></li>
  </ul>
</li>
<li>
  <a href="#panels">Panels</a>
  <ul class="nav">
    <li><a href="#panels-basic">基本例子</a></li>
    <li><a href="#panels-heading">Panel with heading</a></li>
    <li><a href="#panels-alternatives">Contextual alternatives</a></li>
    <li><a href="#panels-tables">With tables</a>
    <li><a href="#panels-list-group">With list groups</a>
  </ul>
</li>
<li><a href="#wells">消息墙</a></li>
